__pycache__/
.idea/
.omx/
AWLS.zip
output.csv

AWLS/.idea/
AWLS/.vs/
AWLS/bin/
AWLS/out/
AWLS/x64/
AWLS/*.user
AWLS/*.ilk
AWLS/*.iobj
AWLS/*.ipdb
AWLS/*.obj
AWLS/*.pdb
AWLS/*.exe
AWLS/*.dll
AWLS/*.lib
AWLS/*.exp
AWLS/*.log
AWLS/run.out
AWLS/run.err
AWLS/awls_err.txt
AWLS/output.csv
AWLS/smoke_results*.csv
AWLS/*_trace.log
